.aside {
  @apply bg-[#F6F6F6]
    text-[#3B485E]
    h-[90vh]
    grid;
}

.container {
  @apply self-center
    justify-self-center
    px-20;
}

.heading {
  @apply text-[3.2rem]
    font-semibold
    leading-[3.1rem]
    my-10
    max-h-40;
}
.serviceContainer {
  @apply mb-14
  mr-4;
}

.serviceHeading {
  @apply text-[2.4rem]
    font-semibold
    leading-[2.6rem]
    mb-[0.25rem];
}
.serviceDescription {
  @apply text-[2.1rem]
    font-normal
    leading-[2.2rem]
    text-[#707070]
    mb-4;
}
.btn {
  @apply text-[1.6rem]
    font-semibold
    h-[3rem]
    py-[0.4rem]
    px-[1.5rem]
    flex
    flex-row-reverse
    leading-[1rem]
    items-center
    justify-evenly
    tracking-tighter
    bg-[#FFDC60]
    rounded-[28.5px];
}

.btnLogoContainer {
  @apply mr-6;
}

.line-limit-1{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (max-width: 82em) {
  .heading {
    @apply text-[2.6rem];
  }
  .serviceHeading {
    @apply text-[2.2rem];
  }
  .serviceDescription {
    @apply text-[1.8rem];
  }
  .btn{
    @apply text-[1.4rem]
  }
}

@media (max-width: 64em) {
  .aside {
    @apply hidden;
  }
}
